<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Report</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="slide" id="slide1">
        <img src="images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo">
        <h1>Internship Report</h1>
        <h2>Full-Stack Web Development at <br>
            Nexul Academy</h2>
        <p>Welcome to my presentation on the work I completed during my internship.</p>
        <p>
            <a href="https://www.gurufyre.com" target="_blank" class="gurufyre-link">Visit the Project <b>GuruFyre</b> Website</a>
        </p>
    </div>

    <div class="slide" id="slide2">
        <h2>Introduction</h2>
        <div class="intro-content">
            <img src="images/Mika.jpeg" alt="Mika's image" class="intro-photo">
            <p><b>H</b>ello, my name is Mika Zukeyama, and I've been working as a full-stack web development intern at Nexul Academy.
                My focus during this internship has been on developing key features for the GuruFyre products, 
                specifically the 'checklist' functionality.
            </p>
            <p><b>T</b>he goal of my internship was to develop an effective checklist feature that enhances the user experience
                 on Guru Fyre’s educational platform and ensuring seamless integration with the existing system. 
                 This feature enables students to efficiently organize their preparation tasks before beginning a lesson.
            </p>
        </div>
        <div class="arrow-container">
            <a href="#slide3" class="down-arrow" onclick="smoothScroll('#slide3')">&#x25BC;</a>
        </div>
    </div>

    <div class="slide" id="slide3">
        <h2>Checklist Feature Overview</h2>
        <div class="feature-grid">
            <!-- Left Top -->
            <div class="feature-item feature-objective">
                <h3>Feature Objective:</h3>
                <p>The checklist feature is designed to display a list of useful knowledge 
                    and preparation items on the lesson page for students to know before 
                    starting the lesson. This feature aims to improve learning 
                    efficiency by helping students prepare and engage smoothly with the lesson content.
                </p>
            </div>
            <!-- Right Top -->
            <div class="feature-item feature-description">
                <h3>Feature Description:</h3>
                <p>Instructors can create and edit checklist for each lesson, 
                    allowing them to add or edit items as needed.
                    This checklist is embedded within the lesson page, 
                    enabling students to effectively prepare for their learning tasks and track their progress.
                </p>
            </div>
            <!-- Left Bottom -->
            <div class="feature-item feature-photo-container">
                <img src="images/checklist.png" alt="checklist for lesson" class="feature-photo">
            </div>
            <!-- Right Bottom -->
            <div class="feature-item feature-uxui">
                <h3>UX/UI Considerations:</h3>
                <p>The design of the checklist feature focuses on simplicity and ease of use,
                    ensuring that users can navigate and utilize the feature without unnecessary complexity.
                    Angular Material components were used to maintain consistency with
                    the overall design of the GuruFyre platform.
                </p>
                <img src="images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bottom">
            </div>
        </div>
        <div class="arrow-container">
            <a href="#slide4" class="down-arrow" onclick="smoothScroll('#slide4')">&#x25BC;</a>
        </div>
    </div>

    <div class="slide" id="slide4">
        <h2>Tech Stack / Skills Developed</h2>
        <div class="skills-container">
            <!-- Front-End Column -->
            <div class="skill-column">
                <h3>Front-End:</h3>
                <div class="skill-block">
                    <img src="images/AngularIcon.png" alt="Angular Icon" width="250px">
                    <h4>Angular:</h4>
                    <p>Built with Angular's component-based architecture for efficient 
                        user interaction handling and real-time updates.
                    </p>
                </div>
                <div class="skill-block">
                    <div class="material-row">
                        <img src="images/angular_icon.png" alt="Angular Icon" width="100px">
                        <span>Angular Material</span>    
                    </div>
                    <h4>Material Design:</h4>
                    <p>Utilized Angular Material to ensure consistent UI elements,
                        enhancing usability with components like mat-card and mat-dialog.
                    </p>
                </div>
            </div>
            <!-- Back-End Column -->
            <div class="skill-column">
                <h3>Back-End:</h3>
                <div class="skill-block">
                    <div class="icon-row">
                        <img src="images/C_Sharp_icon.png" alt="C Sharp Icon" width="150px">
                        <img src="images/dotnet_icon.svg" alt="Dotnet Icon" width="120px">    
                    </div>
                    <h4>C# and .NET:</h4>
                    <p>Developed with C# and ASP.NET Core for reliability and scalability, 
                        integrating smoothly with APIs and services.
                    </p>
                </div>
                <div class="skill-block">
                    <img src="images/Azure_icon.png" alt="Azure Icon" width="120px">    
                    <h4>Database Management:</h4>
                    <p>Used Azure Storage Table for scalable, cost-effective data storage, 
                        ensuring quick data retrieval and high availability.
                    </p>
                </div>
            </div>
            <!-- Tools & Methodology Column -->
            <div class="skill-column">
                <h3>Tools & Methodology:</h3>
                <div class="skill-block">
                    <img src="images/GitHub_icon.png" alt="GitHub Icon" width="120px">    
                    <h4>Version Control:</h4>
                    <p>Managed code with GitHub for version control and team collaboration, 
                        ensuring organized code through branching and pull requests.
                    </p>
                </div>
                <div class="skill-block agile-block">
                    <h4>Agile Methodology:</h4>
                    <p>Adopted Agile for project management, focusing on iterative development, 
                        regular stand-ups, and continuous improvement.
                    </p>
                    <img src="images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bottom">
                </div>
            </div>
        </div>
        <div class="arrow-container">
            <a href="#slide5" class="down-arrow" onclick="smoothScroll('#slide5')">&#x25BC;</a>
        </div>
    </div>

    <div class="slide" id="slide5">
        <h2>Challenges and Improvements</h2>
        <div class="challenge">
            <h3>Challenge 1: Using FormArray and Binding Issues</h3>
            <p>When implementing the checklist dialog, there were issues with handling multiple checklist items
                using <code>FormArray</code>. Initially, <code class="clickable-code" onclick="showTooltip(event)">[formGroup]="getFormGroup(i)"</code> was used to dynamically bind each
                checklist item form in a loop. However, this approach caused performance issue because Angular needed to call the getFormGroup(i)
                method for each item in the loop, resulting in inefficient change detection.
            </p>
            <div id="codeTooltip" class="tooltip">
                <pre class="tooltip-code"><code>
// Component TypeScript code
<span class="function">getFormGroup</span>(<span class="variable">index: number</span>): <span class="keyword">FormGroup</span> {
    <span class="keyword">return</span> <span class="variable">this.items</span>.at(<span class="variable">index</span>) <span class="keyword">as</span> <span class="keyword">FormGroup</span>;
}
</code></pre>
            </div>

            <p><b>Solution:</b> Changed to directly use the variable defined within the ngFor loop as the formGroup, <code>[formGroup]="itemControl"</code>. 
                This change ensured that each form control was individually bound, 
                optimizing Angular's change detection and improving overall performance.
                Additionally, replaced <code>placeholder</code> with <code>mat-label</code> to maintain UI consistency and added <code>mat-error</code> and <code>mat-hint</code> to 
                guide the user on what to enter.
            </p>
            <div class="code-section">
                <h4>Before:</h4>
                <pre><code>&lt;div *ngFor="let itemControl of items.controls; let i = index" 
        <span class="highlight"> [formGroup]="getFormGroup(i)"</span> fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center"&gt;
        &lt;mat-form-field&gt;
            &lt;input matInput <span class="highlight">placeholder="Checklist Item"</span> formControlName="itemText"&gt;
        &lt;/mat-form-field&gt;
&lt;/div&gt;
                </code></pre>
    
                <h4>After:</h4>
                <pre><code>&lt;div *ngFor="let itemControl of items.controls; let i = index" 
        <span class="fixed-highlight">[formGroup]="asFormGroup(itemControl)"</span> fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center"&gt;
        &lt;mat-form-field&gt;
            <span class="fixed-highlight">&lt;mat-label&gt;Checklist Item&lt;/mat-label&gt;</span>
            &lt;input matInput formControlName="itemText"&gt;
            <span class="fixed-highlight">&lt;mat-hint align="end" *ngIf="itemCharCounts$ | async as itemCharCounts"&gt;{{itemCharCounts[i] }} / 200 &lt;/mat-hint&gt;</span>
            <span class="fixed-highlight">&lt;mat-error *ngIf="itemControl.get('itemText')?.hasError('required')"&gt;Required Input or you can delete item&lt;/mat-error&gt;</span>
        &lt;/mat-form-field&gt;
&lt;/div&gt;
                </code></pre>
            </div>
        </div> 

    <!-- Challenge 2 -->
    <div class="challenge">
        <h3>Challenge 2: Issue with ID Generation for Checklist Items</h3>
        <p>
            There was an issue where the <code>checklistItemId</code> was not correctly generated when saving, resulting in the string "new" remaining as the ID. This caused inconsistencies in data handling during further operations.
        </p>
        <p><b>Solution:</b> Changed the ID generation from <code>nameof(checklistItem)</code> to <code>nameof(ChecklistItem)</code> to correctly refer to the type name, ensuring proper ID generation.
        </p>
        
        <!-- Before and After Code -->
        <div class="code-section">
            <h4>Before:</h4>
            <pre><code>checklistItem.ChecklistItemId = await _idGenerator.NextIdAsync(nameof(checklistItem));
            </code></pre>

            <h4>After:</h4>
            <pre><code>checklistItem.ChecklistItemId = await _idGenerator.NextIdAsync(nameof(ChecklistItem));
            </code></pre>
        </div>
    </div>

    <!-- Challenge 3 -->
    <div class="challenge">
        <h3>Challenge 3: Azure Table Storage Index Design and Query Performance</h3>
        <p>
            The initial index design for Azure Table Storage was inefficient, leading to poor query performance and slow data retrieval.
        </p>
        <p><b>Solution:</b> Redesigned the primary key and secondary index for the <code>Checklist</code> table, and removed unnecessary indexes for the <code>ChecklistItem</code> table.
        </p>
        
        <!-- Before and After Code -->
        <div class="code-section">
            <h4>Before:</h4>
            <pre><code>ChecklistTableProxy = new CloudTableProxy&lt;Checklist&gt;()
{
    TableName = nameof(Checklist),
    PartitionKey = (x) =&gt; ByLessonIndexKey,
    RowKey = (x) =&gt; x.ChecklistId.GetSimpleRowKey(),
    SecondaryIndexes = new List&lt;SecondaryIndex&lt;Checklist&gt;&gt;(new SecondaryIndex&lt;Checklist&gt;[]
    {
        new SecondaryIndex&lt;Checklist&gt;
        {
            KeyName = ByLessonIndexKey,
            PartitionKey = (x) =&gt; x.LessonId.GetSimplePartitionKey(),
            RowKey = (x) =&gt; x.ChecklistId.GetSimpleRowKey(),
        }
    })
};
            </code></pre>

            <h4>After:</h4>
            <pre><code>private const string PKByIdKey = "all-by-id";

ChecklistTableProxy = new CloudTableProxy&lt;Checklist&gt;()
{
    TableName = nameof(Checklist),
    PartitionKey = (x) =&gt; PKByIdKey,
    RowKey = (x) =&gt; x.ChecklistId.GetSimpleRowKey(),
    SecondaryIndexes = new List&lt;SecondaryIndex&lt;Checklist&gt;&gt;(new SecondaryIndex&lt;Checklist&gt;[]
    {
        new SecondaryIndex&lt;Checklist&gt;
        {
            KeyName = ByLessonIndexKey,
            PartitionKey = (x) =&gt; x.LessonId.GetSimplePartitionKey(),
            RowKey = (x) =&gt; x.ChecklistId.GetSimpleRowKey(),
        }
    })
};
            </code></pre>
        </div>
    </div>


        <div class="arrow-container">
            <a href="#slide6" class="down-arrow" onclick="smoothScroll('#slide6')">&#x25BC;</a>
        </div>
    </div>

    <div class="slide" id="slide6">
        <h2>Q&A Session</h2>
        <p>Feel free to ask any questions!</p>
    </div>
    <div class="slide" id="slide5">
        <h2>Achievements and Next Steps</h2>
        <p>I successfully implemented the checklist feature...</p>
    </div>

    <div class="slide" id="slide6">
        <h2>Q&A Session</h2>
        <p>Feel free to ask any questions!</p>
    </div>
    <div class="slide" id="slide5">
        <h2>Achievements and Next Steps</h2>
        <p>I successfully implemented the checklist feature...</p>
    </div>

    <div class="slide" id="slide6">
        <h2>Q&A Session</h2>
        <p>Feel free to ask any questions!</p>
    </div>


    <div class="content">
        <h2>Thank you!</h2>
        <h2>Thank you!</h2>
    </div>
    <div class="scroll-up-button">
        <button onclick="scrollToTop()"><i class="fas fa-arrow-up">
        </i></button>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="social-icons">
                <a href="https://github.com/your-github-profile" target="_blank">
                    <img src="images/GitHub_icon.png" alt="GitHub Icon" class="social-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="" alt="LinkedIn Icon" class="social-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="" alt="Twitter Icon" class="social-icon">
                </a>
            </div>
            <p>&copy; 2024 Mika Zukeyama. All rights reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>