@import '../../../styles.scss';

#slide7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(to right, $gradient2-start, $gradient2-end);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message-card {
    background: $white;
    padding: 1.875rem;
    max-width: 100%; /* カードの幅をスライドの幅に合わせる */
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
  .message-card img {
    width: 6.25rem;
    margin: 0 1.25rem;
  }
  
  .closing-title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .closing-message, .closing-message-jp {
    font-size: 1.125rem;
    color: $dark-purple;
    line-height: 1.6;
    margin: 0 0 -0.75rem 0;
    text-align: start;
    max-width: 700px; /* テキストの最大幅を設定 */
    padding: 0.9375rem;
  }
  
  .closing-message-jp {
    font-size: 1.0625rem;
  }

  .team-photo {
    max-width: 66%; /* Ensures the image doesn't exceed the card's width */
    margin-top: 1.5rem;
    border-radius: 0.5rem;
  }

  /* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
  #slide7 {
    height: auto;
    padding: 0.625rem;
  }

  .message-card {
    padding: 2rem 2rem 3rem 2rem;
    max-width: 75%; 
  }

  .message-card img {
    width: 5rem;
  }

  .closing-message,
  .closing-message-jp {
    font-size: 1rem;
    text-align: left;
    margin: 0 0 0.9375rem 0;
  }

  .team-photo {
    max-width: 84%; 
  }
}