@import '../../../styles.scss';

#slide7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(to right, $gradient2-start, $gradient2-end);
  }
  
  .message-card {
    background: $white;
    padding: 30px;
    max-width: 100%; /* カードの幅をスライドの幅に合わせる */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
  .message-card img {
    width: 100px;
    margin: 0 20px;
  }
  
  .closing-title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .closing-message, .closing-message-jp {
    font-size: 18px;
    color: $dark-purple;
    line-height: 1.6;
    margin: 0 0 20px 0;
    text-align: start;
    max-width: 700px; /* テキストの最大幅を設定 */
    padding: 15px;
  }
  
  .closing-message-jp {
    font-size: 17px;
  }

  /* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
  #slide7 {
    height: auto;
    padding: 10px;
  }

  .message-card {
    padding: 40px; 
  }

  .message-card img {
    width: 80px;
  }

  .closing-message,
  .closing-message-jp {
    font-size: 16px;
    text-align: left;
    margin: 0 0 15px 0;
  }
}