@import '../../../styles.scss';

#slide7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, $gradient2-start, $gradient2-end);
    padding: 20px;
  }
  
  .message-card {
    background: $white;
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .message-card img {
    width: 100px;
    margin: 0 20px;
  }
  
  .closing-title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .closing-message, .closing-message-jp {
    font-size: 18px;
    color: $dark-purple;
    line-height: 1.6;
    margin: 0 0 20px 0;
    text-align: start;
  }
  
  .closing-message-jp {
    font-size: 17px;
  }