@import '../styles.scss';

.thankYou {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
}

.thankYou h2 {
    font-size: 8em;
    position: absolute;
}

.thankYou h2:nth-child(1) {
    color: $light-green;
    -webkit-text-stroke: 2px $fixed-highlight-color;
    margin-top:-200px;
}

.thankYou h2:nth-child(2) {
    color: $primary-color;
    animation: animate 5s ease-in-out infinite;
    margin-top:-200px;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 38.67%, 1.82% 37.89%, 3.64% 37.86%, 5.45% 38.61%, 7.27% 40.03%, 9.09% 41.97%, 10.91% 44.19%, 12.73% 46.44%, 14.55% 48.46%, 16.36% 50.02%, 18.18% 50.92%, 20.00% 51.07%, 21.82% 50.45%, 23.64% 49.14%, 25.45% 47.27%, 27.27% 45.08%, 29.09% 42.81%, 30.91% 40.73%, 32.73% 39.09%, 34.55% 38.07%, 36.36% 37.79%, 38.18% 38.28%, 40.00% 39.49%, 41.82% 41.28%, 43.64% 43.43%, 45.45% 45.71%, 47.27% 47.83%, 49.09% 49.56%, 50.91% 50.70%, 52.73% 51.11%, 54.55% 50.74%, 56.36% 49.65%, 58.18% 47.94%, 60.00% 45.83%, 61.82% 43.56%, 63.64% 41.39%, 65.45% 39.58%, 67.27% 38.33%, 69.09% 37.79%, 70.91% 38.03%, 72.73% 39.01%, 74.55% 40.63%, 76.36% 42.69%, 78.18% 44.95%, 80.00% 47.16%, 81.82% 49.04%, 83.64% 50.40%, 85.45% 51.06%, 87.27% 50.95%, 89.09% 50.09%, 90.91% 48.57%, 92.73% 46.56%, 94.55% 44.32%, 96.36% 42.08%, 98.18% 40.13%, 100.00% 38.67%);    
    }    50% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 46.00%, 1.82% 45.65%, 3.64% 44.64%, 5.45% 43.10%, 7.27% 41.19%, 9.09% 39.15%, 10.91% 37.20%, 12.73% 35.58%, 14.55% 34.47%, 16.36% 34.01%, 18.18% 34.24%, 20.00% 35.15%, 21.82% 36.61%, 23.64% 38.47%, 25.45% 40.51%, 27.27% 42.49%, 29.09% 44.18%, 30.91% 45.38%, 32.73% 45.96%, 34.55% 45.84%, 36.36% 45.05%, 38.18% 43.66%, 40.00% 41.85%, 41.82% 39.83%, 43.64% 37.82%, 45.45% 36.07%, 47.27% 34.78%, 49.09% 34.09%, 50.91% 34.09%, 52.73% 34.78%, 54.55% 36.07%, 56.36% 37.82%, 58.18% 39.83%, 60.00% 41.85%, 61.82% 43.66%, 63.64% 45.05%, 65.45% 45.84%, 67.27% 45.96%, 69.09% 45.38%, 70.91% 44.18%, 72.73% 42.49%, 74.55% 40.51%, 76.36% 38.47%, 78.18% 36.61%, 80.00% 35.15%, 81.82% 34.24%, 83.64% 34.01%, 85.45% 34.47%, 87.27% 35.58%, 89.09% 37.20%, 90.91% 39.15%, 92.73% 41.19%, 94.55% 43.10%, 96.36% 44.64%, 98.18% 45.65%, 100.00% 46.00%);    }
}

.footer {
    padding: 20px 0;
    text-align: center;
    color: $white;
    margin-top: 40px;
    width: 100%;
    background: linear-gradient(
        -10deg, 
        $gradient-start,
        $gradient-mid1, 
        $gradient-mid2, 
        $gradient-mid3, 
        $gradient-mid1, 
        $gradient-start
    );
    background-size: 300% 300%;
    animation: gradientBackground 15s ease infinite;
    position: relative; /* Make the footer relative */
    height: 180px;
}

.footer::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely */
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 350px; /* Adjust the height to control the size of the shape */
    background: inherit; /* Use the same gradient as the footer */
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 43.99%, 10% 65% ,20.00% 18.4%, 40.00% 26.53%, 58% 50.75%, 76% 24.11%, 100% 18.46%);
    /* clip-path: polygon(100% 100%, 0% 100% , 0.00% 29.36%, 6.67% 40.98%, 13.33% 43.55%, 20.00% 35.66%, 26.67% 21.60%, 33.33% 8.98%, 40.00% 4.66%, 46.67% 10.96%, 53.33% 24.47%, 60.00% 37.88%, 66.67% 43.91%, 73.33% 39.29%, 80.00% 26.53%, 86.67% 12.54%, 93.33% 4.91%, 100.00% 7.78%); */
    z-index: 0;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* Ensure it appears above the shape */
    position: relative; /* Position it relative to manage z-index */
}

.footer p {
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.social-icon {
    width: 50px;
    height: 50px;
    filter: invert(100%); /* Makes the icons white */
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.scroll-up-button {
    position: fixed; /* フッターの直上に固定 */
    right: 20px; /* 右端に配置 */
    bottom: 100px; /* フッターの少し上に配置 */
    opacity: 0; /* 初期状態は非表示 */
    transition: opacity 0.7s ease; /* フェードインの効果 */
    z-index: 10; /* 他の要素の上に表示されるように */
  
    button {
      background-color: rgba(173, 216, 230, 0.5); /* 半透明の水色 */
      color: var(--secondary-color);
      font-weight: bold;
      border: 2px solid var(--secondary-color); /* ボーダー色を設定 */
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex; /* アイコンを中央に配置 */
      align-items: center; /* 縦方向に中央揃え */
      justify-content: center; /* 横方向に中央揃え */
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, border-color 0.3s ease; /* 背景色とボーダーのトランジション */
  
      &:hover {
        background-color: #0056b3;
        color: white;
        border: none; 
      }
    }
  }


.scroll-up-button i {
    font-size: 20px; 
    transform: scale(1.2, 1.4);
}