<app-slide1></app-slide1>
<app-slide2></app-slide2>
<app-slide3></app-slide3>
<app-slide4></app-slide4>
<app-slide5></app-slide5>

<div class="thankYou">
  <h2>Thank you!</h2>
  <h2>Thank you!</h2>
</div>
<div class="scroll-up-button">
  <button (click)="scrollToTop()"><i class="fas fa-arrow-up">
  </i></button>
</div>

<footer class="footer">
  <div class="footer-content">
      <div class="social-icons">
          <a href="https://github.com/MikaZ21" target="_blank">
              <img src="assets/images/GitHub_icon.png" alt="GitHub Icon" class="social-icon">
          </a>
          <a href="#" target="_blank">
              <img src="" alt="LinkedIn Icon" class="social-icon">
          </a>
          <a href="#" target="_blank">
              <img src="" alt="X Icon" class="social-icon">
          </a>
      </div>
      <p>copy right &copy; 2024 Mika Zukeyama</p>
  </div>
</footer>
