<app-slide1></app-slide1>
<app-slide2></app-slide2>
<app-slide3></app-slide3>
<app-slide4></app-slide4>
<app-slide5></app-slide5>
<app-slide6></app-slide6>
<app-slide7></app-slide7>

<div class="thankYou">
  <h2>Thank you!</h2>
  <h2>Thank you!</h2>
</div>

<div class="scroll-up-button">
  <button (click)="scrollToTop()"><i class="fas fa-arrow-up">
  </i></button>
</div>

<footer class="footer">

  <div class="footer-emoji">🌵</div>

  <div class="footer-content">
    <div class="social-icons">
      <a href="https://github.com/MikaZ21" target="_blank" class="social-icon">
        <img src="/assets/images/github-mark.svg" alt="GitHub Icon">
      </a>
      <a href="https://www.linkedin.com/in/mika-zukeyama/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://x.com/MikaRyukyu" target="_blank" class="social-icon">
        <img src="/assets/images/x-twitter.svg" alt="X Icon">
      </a>
    </div>
    <p>Copyright &copy; 2024 Mika Zukeyama</p>
  </div>
</footer>
