<div class="slide" id="slide2">
    <h2>Introduction</h2>
    <div class="intro-content">
        <img src="assets/images/Mika.jpeg" alt="Mika's image" class="intro-photo">
        <p><b>H</b>ello, my name is Mika Zukeyama, and I've been working as a full-stack web development intern at Nexul Academy.
            My focus during this internship has been on developing key features for the GuruFyre products, 
            specifically the 'checklist' functionality.
        </p>
        <p><b>T</b>he goal of my internship was to develop an effective checklist feature that enhances the user experience
             on Guru Fyre’s educational platform and ensuring seamless integration with the existing system. 
             This feature enables students to efficiently organize their preparation tasks before beginning a lesson.
        </p>
    </div>
    <div class="arrow-container">
        <a href="#slide3" class="down-arrow" (click)="smoothScroll('#slide3')">&#x25BC;</a>
    </div>
</div>
