@import '../../../styles.scss';

.intro-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
}

.intro-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.intro-content p {
    margin: 0;
    max-width: 600px;
    line-height: 1.6;
    text-align: left;
}