<div class="slide" id="slide2">
    <h2>Introduction</h2>
    <div class="intro-content">
        <img src="assets/images/Mika.jpeg" alt="Mika's image" class="intro-photo">
        <p><b>H</b>ello, my name is Mika Zukeyama, and I've been working as a full-stack web development intern at Nexul Academy.
        </p>
        <p><b>M</b>y focus during this internship has been on developing key features for the Guru Fyre products, 
            specifically the 'checklist' functionality.
        <br>
            <b>T</b>he goal of my internship was to gain practical experience by participating 
            in real product development and improve my skills in a professional environment.
        </p>
    </div>
    <div class="arrow-container">
        <a href="#slide3" class="down-arrow" (click)="smoothScroll('#slide3')">&#x25BC;</a>
    </div>
</div>
