@import '../../../styles.scss';

#slide3 {
    padding: 20px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 50px;
}

.feature-item {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item p {
    margin: 0;
    line-height: 1.6;
    text-align: start;
    padding-left: 10px;
}

.feature-objective h3,
.feature-description h3,
.feature-development-process h3 {
    padding: 10px;
    padding-left: 30px;
    border-radius: 0 0 10px 10px;
    margin: -20px -20px 20px -20px;
    font-size: 20px;
    color: $dark-blue-1;
}

.feature-objective h3 i,
.feature-description h3 i,
.feature-development-process h3 i {
    margin-right: 8px;
    color: $dark-blue-1;
}

.feature-objective {
    background-color: $light-green;
}

.feature-description {
    background-color: $light-orange;
}

.feature-development-process {
    background-color: $light-purple;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 20px; 
}

.feature-demo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%; /* 全体の幅に合わせる */
    max-width: 550px; /* 親コンテナの最大幅を制限 */
}

.feature-demo {
    width: 100%; /* コンテナに合わせて幅を調整 */
    height: auto; /* 自動的に高さを調整 */
    max-width: 100%; /* 親コンテナの最大幅を超えないように設定 */
    border-radius: 10px;
    object-fit: contain; /* コンテナ内での表示を調整 */
}

.logo-container {
    width: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto; 
    padding: 0; 
}


img.logo-bg-img {
    position: relative; 
    bottom: -30px; 
    left: 35%; 
    transform: translateX(-50%); 
    width: 300px; 
    height: auto;
    opacity: 0.2; 
    pointer-events: none;
    z-index: 0;
}

.feature-objective h3 {
    background-color: $accent-green;
}

.feature-description h3 {
    background-color: $accent-orange;
}

.feature-development-process h3 {
    background-color: $accent-purple;
}

@media (max-width: 768px) {
    .feature-grid {
        grid-template-columns: 1fr; /* Switch to single-column layout */
        padding: 0 20px; /* Reduce padding for smaller screens */
    }

    .feature-item {
        padding: 15px; /* Reduce padding for smaller screens */
    }
}