<div class="slide" id="slide3">
    <h2>Checklist Feature Overview</h2>
    <div class="feature-grid">
        <!-- Left Top -->
        <div class="feature-item feature-objective">
            <h3>Feature Objective:</h3>
            <p>The checklist feature is designed to display a list of useful knowledge 
                and preparation items on the lesson page for students to know before 
                starting the lesson. This feature aims to improve learning 
                efficiency by helping students prepare and engage smoothly with the lesson content.
            </p>
        </div>
        <!-- Right Top -->
        <div class="feature-item feature-description">
            <h3>Feature Description:</h3>
            <p>Instructors can create and edit checklist for each lesson, 
                allowing them to add or edit items as needed.
                This checklist is embedded within the lesson page, 
                enabling students to effectively prepare for their learning tasks and track their progress.
            </p>
        </div>
        <!-- Left Bottom -->
        <div class="feature-item feature-demo-container">
            <img src="assets/images/checklist.png" alt="checklist for lesson" class="feature-demo">
        </div>
        <!-- Right Bottom -->
        <div class="feature-item feature-uxui">
            <h3>UX/UI Considerations:</h3>
            <p>The design of the checklist feature focuses on simplicity and ease of use,
                ensuring that users can navigate and utilize the feature without unnecessary complexity.
                Angular Material components were used to maintain consistency with
                the overall design of the GuruFyre platform.
            </p>
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bg-img">
        </div>
    </div>
    <div class="arrow-container">
        <a href="#slide4" class="down-arrow" onclick="smoothScroll('#slide4')">&#x25BC;</a>
    </div>
</div>
