<div class="slide" id="slide4">
    <h2>Tech Stack / Skills Developed</h2>
    <div class="skills-container">
        <!-- Front-End Column -->
        <div class="skill-column">
            <h3>Front-End:</h3>
            <div class="skill-block">
                <img src="assets/images/AngularIcon.png" alt="Angular Icon" width="250px">
                <h4>Angular:</h4>
                <p>Gained an understanding of component-based development and learned how to 
                    organize code using modules and services.<br>
                    Leveraged TypeScript features to write type-safe code.
                </p>
            </div>
            <div class="skill-block">
                <div class="material-row">
                    <img src="assets/images/angular_icon.png" alt="Angular Icon" width="100px">
                    <span>Angular Material</span>    
                </div>
                <h4>Principles of UI/UX Design:</h4>
                <p>Utilized Angular Material to ensure consistent UI elements throughout the application.
                    Incorporated user-centered design to balance visual elements with usability.
                </p>
            </div>
        </div>
        <!-- Back-End Column -->
        <div class="skill-column">
            <h3>Back-End:</h3>
            <div class="skill-block">
                <div class="icon-row">
                    <img src="assets/images/C_Sharp_icon.png" alt="C Sharp Icon" width="150px">
                    <img src="assets/images/dotnet_icon.svg" alt="Dotnet Icon" width="120px">    
                </div>
                <h4>C# and .NET:</h4>
                <p>Learned to use REST APIs for data transmission, 
                    gaining skills in implementing client-server communication.
                </p>
            </div>
            <div class="skill-block">
                <img src="assets/images/Azure_icon.png" alt="Azure Icon" width="120px">    
                <h4>Database Management:</h4>
                <p>Used Azure Storage Table for scalable, cost-effective data storage, 
                    ensuring data is readily accessible when needed. 
                    It improved data availability and performance, 
                    contributing to the overall efficiency of the system.
                </p>
            </div>
        </div>
        <!-- Tools & Methodology Column -->
        <div class="skill-column">
            <h3>Version Control & Methodology:</h3>
            <div class="skill-block">
                <img src="assets/images/GitHub_icon.png" alt="GitHub Icon" width="120px">    
                <h4>Git and GitHub:</h4>
                <p>Managed code with GitHub for version control and team collaboration, 
                    ensuring organized code through following the 'Git flow' process.
                </p>
            </div>
            <div class="skill-block agile-block">
                <h4>Agile Development Process:</h4>
                <p>Adopted Agile to manage project development. Breaking tasks into smaller, 
                    manageable stories allowed us to focus on continuous improvement and swiftly 
                    adapt to changing requirements. Daily stand-ups and regular retrospectives fostered 
                    clear communication and alignment within the team.
                </p>
                <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bg-img">
            </div>
        </div>
    </div>
    <div class="arrow-container">
        <a href="#slide5" class="down-arrow" (click)="smoothScroll('#slide5')">&#x25BC;</a>
    </div>
</div>
