@import '../../../styles.scss';

#slide4 {
    padding: 1.5625rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.25rem; 
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
}

.skill-block {
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100%; /* Allow the block to fill available space */
    box-sizing: border-box; /* Ensure padding is included in width and height */
    border: 2px solid transparent; /* 初期状態では透明な境界線 */
    transition: transform 0.2s, border 0.2s; /* サイズと境界線のトランジションを追加 */
}

.skill-block:hover {
    transform: scale(1.05); 
    border: 2px solid $dark-blue-2;
  }

@media (max-width: 768px) {
    h3 {
        margin: 0 auto;
        padding: 0.5rem 0;
        text-align: center; 
        font-size: 1.2rem;
    }

    .skill-column {
        width: 100%; 
        padding: 0.5rem; /* パディングを少し小さく */
        margin: 0; /* 余白をなくす */
        align-items: center;
    }

    .skills-container {
        padding: 0.5rem; /* コンテナの左右パディングを小さく */
        grid-template-columns: 1fr; /* 一列に縦に並べる */
    }

    .skills-container .material-row {
        gap: 1rem;
    }
}

.skill-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-size: 1.375rem;
    color: $dark-blue-2;
    margin-bottom: 0.9375rem;
    text-align: center;
    border-bottom: 2px solid $dark-blue-2;
    padding-bottom: 0.625rem;
    width: 100%;
}

.skill-block h4 {
    margin-bottom: 0.625rem;
    color: $dark-purple;
}

.skill-block p {
    text-align: left;
    margin: 0;
    padding-left: 0.625rem;
}

.material-row {
    display: flex; /* Flexboxで横並びに */
    align-items: center; /* アイコンとテキストを中央揃え */
    gap: 5rem; /* アイコンとテキストの間のスペース */
    margin-bottom: 0.625rem;
}

.material-row img {
    width: 7.5rem; /* アイコンのサイズを調整 */
    height: auto; /* アスペクト比を保つ */
}

.material-row span {
    font-size: 1.875rem;
    font-weight: bold;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 0.625rem; 
    margin-bottom: 0.625rem;
    align-items: center; 
    flex-wrap: wrap;
}

.agile-block {
    position: relative;
    overflow: hidden;
}

.agile-block > .logo-bg-img {
    position: absolute;
    bottom: -2.1875rem;
    left: 6.25rem;
    width: 18.75rem;
    height: auto;
    opacity: 0.1;
}

.angular-logo {
    width: 15.625rem;
}

.angular-material-logo {
    width: 6.25rem;
}

.csharp-logo {
    width: 9.375rem;
}

.dotnet-logo {
    width: 7.5rem;
}

.azure-logo {
    width: 7.5rem;
}

.github-logo {
    width: 7.5rem;
}