@import '~highlight.js/styles/a11y-dark.css';

// Primary Colors
$primary-color: #007bff; // Main blue color
// $secondary-color: #4a90e2; // Secondary light blue

// Dark Colors
$dark-blue-1: #00438f;
$dark-blue-2: #0058b1;
$dark-gray: #333;
$dark-purple: #6A1B9A;

// Light Colors
$white: #fff;
$light-gray: #f4f4f4;
$light-blue: #a6d2ea;
$light-green: #d9eecd;
$light-orange: #eed8b5;
$light-purple: #f4e8f7;

// Accent Colors
$accent-green: #80c857;
$accent-orange: #f39c12;
$accent-purple: #d060e2;

$highlight-color: #ff6347; // Highlight color for important text
$fixed-highlight-color: #2ba284; // Fixed highlight color

// Background Gradient Colors
$gradient-start: #000537;
$gradient-mid1: #003366;
$gradient-mid2: #4a90e2;
$gradient-mid3: #4f9d7e;

// Background Gradient - 2
$gradient2-start: #e0f7fa;
$gradient2-end: #e1bee7;


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: $light-gray;
    color: $dark-gray;
}

.slide {
    padding: 3.125rem 1.25rem;
    max-width: 75rem;
    margin: 3.125rem auto;
    background-color: $white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;;
    }
    50% {
        background-position: 100% 50%;
    } 
    100% {
        background-position: 0% 50%;
    }
}

.gurufyre-link {
    display: inline-block;
    margin-top: 0.625rem;
    padding: 0.625rem 1.25rem;
    background-color: $primary-color;
    color: $white;
    text-decoration: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.gurufyre-link:hover {
    background-color: $dark-blue-2;
    box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.8);
}

h1, h2 {
    color: inherit;
    text-align: center;
}

h1 {
    margin-bottom: 0.625rem;
    font-size: 3.25rem;
}

h2 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
    font-family: "Handlee", cursive;
    font-weight: bold;
    font-style: normal;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.slide:nth-child(even) {
    background-color: #f9f9f9;
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    position: relative;
}

.down-arrow {
    font-size: 2.5rem;
    color: $dark-gray;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.down-arrow:hover {
    color: $primary-color;
    transform: translateY(0.625rem);
}

.logo-bg-img {
    position: absolute;
    bottom: -2.5rem;
    left: 17.5rem;
    width: 18.75rem;
    height: auto;
    opacity: 0.2;
}

.code-wrapper {
    position: relative;
    margin-bottom: 1.25rem;
    z-index: 10;
}
  
.language-name {
    position: absolute;
    top: -1.5em;
    left: 0;
    background-color: $accent-orange;
    color: #333;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.code-wrapper code.hljs {
    padding: 2rem;
}

code.highlight-code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1rem;
    background-color: $light-green;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
}