<div class="slide" id="slide1">
    <a href="https://www.nexulacademy.com/" target="_blank">
        <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo">
    </a>
    <h1>Internship Report</h1>
    <h2>Full-Stack Web Development at <br>
        Nexul Academy</h2>
    <p>Welcome to my presentation on the work I completed during my internship.</p>
    <p>
        <a href="https://www.gurufyre.com" target="_blank" class="gurufyre-link">Visit the Project <b>GuruFyre</b> Website</a>
    </p>
</div>
