<div class="slide" id="slide5">
    <h2>Challenges and Improvements</h2>

    <!-- Challenge 1 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
            alt="Nexul Academy Logo" 
            class="logo-bg-img">
        </div>

        <h3>Challenge 1 - Issues with Correctly Creating and Editing Checklist Items</h3>
        <!-- <p><b>Problem:</b>
            When implementing the checklist dialog, there were issues with handling multiple checklist items
            using <code>FormArray</code>. Initially, <code class="clickable-code" (click)="showTooltip($event, 'codeTooltip')">[formGroup]="getFormGroup(i)"</code> was used to dynamically bind each
            checklist item form in a loop. However, this approach caused performance issue because Angular needed to call the getFormGroup(i)
            method for each item in the loop, resulting in inefficient change detection.
        </p> -->
        <p><b>Problem:</b>
            When creating or editing items in the checklist dialog, 
            data was not being saved correctly or reflected in the form. 
        </p>
        <!-- <div id="codeTooltip" class="tooltip">
            <pre class="tooltip-code"><code>
// Before
<span class="function">getFormGroup</span>(<span class="variable">index: number</span>): <span class="keyword">FormGroup</span> &#123;
    <span class="keyword2">return</span> <span class="variable">this.items</span>.at(<span class="variable">index</span>) <span class="keyword2">as</span> <span class="keyword">FormGroup</span>;
&#125;
</code></pre>
        </div> -->

        <p><b>Cause:</b> 
            The add and delete operations of checklist items using <code class="highlight-code">FormArray</code> were not properly handled, 
            leading to issues with item validation and data synchronization.
        </p>
        <!-- <p><b>Solution:</b> 
            Changed to directly use the variable defined within the ngFor loop as the formGroup, <code class="clickable-code" (click)="showTooltip($event, 'codeTooltip2')">[formGroup]="itemControl"</code>. 
            This change ensured that each form control was individually bound, 
            optimizing Angular's change detection and improving overall performance.
            Additionally, replaced <code>placeholder</code> with <code>mat-label</code> to maintain UI consistency and added <code>mat-error</code> and <code>mat-hint</code> to 
            guide the user on what to enter.
        </p> -->
        <p><b>Solution:</b> 
            Improved the <code class="highlight-code">patchFormWithChecklist()</code> method to correctly initialize and patch form data.
            Added logic to dynamically update form state when items are added or deleted.
        </p>
        <br>
        <!-- <div id="codeTooltip2" class="tooltip">
            <pre class="tooltip-code"><code>
// After
<span class="function">asFormGroup</span>(<span class="variable">control</span> <span class="keyword">AbstractControl</span>): <span class="keyword">FormGroup</span> &#123;
    <span class="keyword2">return</span> <span class="variable">control</span> <span class="keyword2">as</span> <span class="keyword">FormGroup</span>;
&#125;
</code></pre>
        </div> -->

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet1">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 2 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
                alt="Nexul Academy Logo" 
                class="logo-bg-img">
        </div>

        <h3>Challenge 2 -  Asynchronous Data Handling and UI Update Issues</h3>
        <p><b>Problem:</b>
            After adding or editing items, the UI was not updating immediately, 
            and the form validation status was becoming inaccurate.
        </p>

        <p><b>Cause:</b> 
            Insufficient use of <code class="highlight-code">BehaviorSubject</code> and <code class="highlight-code">Observable</code> 
            to manage asynchronous data processing and synchronize the form state in real-time.
        </p>

        <p><b>Solution:</b> 
            Used <code class="highlight-code">itemAdded$</code> to monitor the add/delete of checklist items and 
            employed <code class="highlight-code">combineLatest</code> and <code class="highlight-code">valueChanges</code> 
            to watch form changes in real time. This ensures that the UI always reflects the latest state by recalculating the character count for
            each item whenever there is a change in the form or checklist items.
        </p>

        <p><b>Key Point:</b>
            The combination of <code class="highlight-code">BehaviorSubject</code> and <code class="highlight-code">combineLatest</code> 
            allows the form and checklist to synchronize seamlessly, reflecting changes immediately without manual refreshes.
        </p>
        <br>

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet2">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 3 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bg-img">
        </div>

        <h3>Challenge 3: Widget UI Display and Component Refresh Issues</h3>
        <p><b>Problem:</b>
            The checklist widget failed to update the component state when users switched between different lessons, 
            resulting in the UI not reflecting the latest checklist data for the selected lesson.
        </p>

        <p><b>Cause:</b> 
            Insufficient detection and re-rendering mechanism for changes 
            in data passed via <code class="highlight-code">&#64;Input()</code>.
        </p>

        <p><b>Solution:</b> 
            Monitored the <code class="highlight-code">lesson</code> property passed via <code class="highlight-code">&#64;Input</code> 
            and triggered a reload by updating <code class="highlight-code">reload$</code> whenever a change was detected.
            This ensured the component state remains current by re-fetching the checklist data associated with the current lesson.        
        </p>

        <p><b>Key Point:</b>
            By detecting changes in the <code class="highlight-code">lesson</code> 
            input property and using <code class="highlight-code">reload$</code> 
            to trigger data re-fetching, the component can refresh and display 
            the latest checklist data without requiring a manual refresh.
        </p>
        <br>

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet3">
            </code></pre>
        </div>
        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet3_2">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 4 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
                alt="Nexul Academy Logo" 
                class="logo-bg-img">
        </div>

        <h3>Challenge 4: Transitioning from Razor Pages to Angular Views for lesson page display</h3>
        <p><b>Problem:</b>
            The lesson view page, which included a checklist, was initially displayed using Razor pages. 
            However, the requirement was to transition this page to be displayed in Angular instead, 
            ensuring consistent behavior and styling across the application.
        </p>

        <p><b>Cause:</b> 
            The original routing and URL configuration were set up for Razor views, 
            which led to issues when switching to Angular views. 
            The routing paths were mismatched or not properly configured, 
            causing the Angular components to fail in correctly displaying the lesson content. 
            Additionally, parameters necessary for rendering the lesson content dynamically were not 
            accurately passed in the Angular setup.
        </p>

        <p><b>Solution Step.1: Refactor Routing Definitions</b><br>
            Updated route definitions in <code class="highlight-code">page-admin-routes.ts</code>
            to ensure that Angular components such as <code class="highlight-code">CourseLayoutComponent</code> 
            and <code class="highlight-code">PageViewPageComponent</code> are properly loaded based on the URL parameters. 
            This change ensures that lessons are displayed using Angular views instead of Razor pages.
        </p>
        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet4">
            </code></pre>
        </div>
        <br>
        <p><b>Solution Step.2: Update API Endpoints for Course and Lesson Data Fetching</b><br>
            Modified API endpoints in <code class="highlight-code">CourseController.cs</code> 
            and <code class="highlight-code">SchoolController.cs</code> to fetch course and lesson data 
            based on the new Angular routing structure. 
            This involved adding a new endpoint to retrieve course and lesson data by <code class="highlight-code">topicPageId</code>.
        </p>
        <div class="code-wrapper">
            <div class="language-name">csharp</div>
            <pre><code [highlight]="codeSnippet4_2">
            </code></pre>
        </div>
        <br>
        <p><b>Solution Step.3: Dynamic URL Handling for Angular View Generation</b><br>
            Adjusted the <code class="highlight-code">getPreviewUrl</code> method in <code class="highlight-code">content-design-section.component.ts</code> 
            to generate the correct URL for both development and production environments. 
            This ensures the correct Angular view is loaded based on the environment and the provided URL parameters.
        </p>
        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet4_3">
            </code></pre>
        </div>
        <br>
        <p><b>Solution Step.4: CombineLatest and SwitchMap for Dynamic Data Loading</b><br>
            Utilized <code class="highlight-code">combineLatest</code> and <code class="highlight-code">switchMap</code> 
            to dynamically fetch content based on the route parameters <code class="highlight-code">(pageId)</code> 
            and user roles <code class="highlight-code">(userIsEditorPlus)</code>. 
            This ensures that the lesson content is correctly loaded and updated based on the user’s navigation actions.
        </p>
        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet4_4">
            </code></pre>
        </div>
    </div>

      <div class="solution-approaches">
        <h2>Approaches to Solutions</h2>
        
        <div class="approach-card">
          <div class="card-content">
            <div class="card-header">
              <i class="fas fa-hands-helping card-icon"></i>
              <h4 class="card-title">Support and Pair Programming</h4>
            </div>
            <p>
              Solved problems more quickly and effectively through support from my mentor and pair programming. 
              Considering solutions from various perspectives helped us find better solutions.
            </p>
          </div>
        </div>
      
        <div class="approach-card">
          <div class="card-content">
            <div class="card-header">
              <i class="fas fa-lightbulb card-icon"></i>
              <h4 class="card-title">Problem-Solving</h4>
            </div>
            <p>
              Through continuous trial and error, I deepened my understanding of technical challenges 
              and improved my problem-solving skills. This experience has been a valuable lesson for future development.
            </p>
          </div>
        </div>
      </div>

    <div class="arrow-container">
        <a href="#slide6" class="down-arrow" (click)="smoothScroll('#slide6')">&#x25BC;</a>
    </div>
</div>
