<div class="slide" id="slide5">
    <h2>Challenges and Improvements</h2>

    <!-- Challenge 1 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
            alt="Nexul Academy Logo" 
            class="logo-bg-img">
        </div>

        <h3>Challenge 1 - Issues with Correctly Creating and Editing Checklist Items</h3>
        <!-- <p><b>Problem:</b>
            When implementing the checklist dialog, there were issues with handling multiple checklist items
            using <code>FormArray</code>. Initially, <code class="clickable-code" (click)="showTooltip($event, 'codeTooltip')">[formGroup]="getFormGroup(i)"</code> was used to dynamically bind each
            checklist item form in a loop. However, this approach caused performance issue because Angular needed to call the getFormGroup(i)
            method for each item in the loop, resulting in inefficient change detection.
        </p> -->
        <p><b>Problem:</b>
            When creating or editing items in the checklist dialog, 
            data was not being saved correctly or reflected in the form. 
        </p>
        <!-- <div id="codeTooltip" class="tooltip">
            <pre class="tooltip-code"><code>
// Before
<span class="function">getFormGroup</span>(<span class="variable">index: number</span>): <span class="keyword">FormGroup</span> &#123;
    <span class="keyword2">return</span> <span class="variable">this.items</span>.at(<span class="variable">index</span>) <span class="keyword2">as</span> <span class="keyword">FormGroup</span>;
&#125;
</code></pre>
        </div> -->

        <p><b>Cause:</b> 
            The add and delete operations of checklist items using <code class="highlight-code">FormArray</code> were not properly handled, 
            leading to issues with item validation and data synchronization.
        </p>
        <!-- <p><b>Solution:</b> 
            Changed to directly use the variable defined within the ngFor loop as the formGroup, <code class="clickable-code" (click)="showTooltip($event, 'codeTooltip2')">[formGroup]="itemControl"</code>. 
            This change ensured that each form control was individually bound, 
            optimizing Angular's change detection and improving overall performance.
            Additionally, replaced <code>placeholder</code> with <code>mat-label</code> to maintain UI consistency and added <code>mat-error</code> and <code>mat-hint</code> to 
            guide the user on what to enter.
        </p> -->
        <p><b>Solution:</b> 
            Improved the <code class="highlight-code">patchFormWithChecklist()</code> method to correctly initialize and patch form data.
            Added logic to dynamically update form state when items are added or deleted.
        </p>
        <br>
        <!-- <div id="codeTooltip2" class="tooltip">
            <pre class="tooltip-code"><code>
// After
<span class="function">asFormGroup</span>(<span class="variable">control</span> <span class="keyword">AbstractControl</span>): <span class="keyword">FormGroup</span> &#123;
    <span class="keyword2">return</span> <span class="variable">control</span> <span class="keyword2">as</span> <span class="keyword">FormGroup</span>;
&#125;
</code></pre>
        </div> -->

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet1">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 2 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
                alt="Nexul Academy Logo" 
                class="logo-bg-img">
        </div>

        <h3>Challenge 2 -  Asynchronous Data Handling and UI Update Issues</h3>
        <p><b>Problem:</b>
            After adding or editing items, the UI was not updating immediately, 
            and the form validation status was becoming inaccurate.
        </p>

        <p><b>Cause:</b> 
            Insufficient use of <code class="highlight-code">BehaviorSubject</code> and <code class="highlight-code">Observable</code> 
            to manage asynchronous data processing and synchronize the form state.
        </p>

        <p><b>Solution:</b> 
            Used <code class="highlight-code">this.itemAdded$</code> to monitor item add/delete and 
            employed <code class="highlight-code">combineLatest</code> and <code class="highlight-code">valueChanges</code> 
            to watch form changes in real time, ensuring the UI always reflects the latest state.
        </p>
        <br>

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet2">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 3 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" alt="Nexul Academy Logo" class="logo-bg-img">
        </div>

        <h3>Challenge 3: Widget UI Display and Component Refresh Issues</h3>
        <p><b>Problem:</b>
            The checklist widget failed to update the component state when users switched between different lessons, 
            not reflecting the latest checklist data.
        </p>

        <p><b>Cause:</b> 
            Insufficient detection and re-rendering mechanism for changes 
            in data passed via <code class="highlight-code">&#64;Input()</code>.
        </p>

        <p><b>Solution:</b> 
            Monitored the lesson property passed via <code class="highlight-code">&#64;Input</code> and triggered a reload 
            by updating <code class="highlight-code">reload$</code> whenever a change was detected. This ensured the component state remained current.        
        </p>

        <p><b>Key Point:</b> 
            Detected changes in lessons and refreshed the component using <code class="highlight-code">reload$</code> to reflect the latest state.        </p>
        <br>

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet3">
            </code></pre>
        </div>
    </div>

    <!-- Challenge 4 -->
    <div class="challenge">
        <div class="logo-container">
            <img src="assets/images/nexul_academy_icon_logo_300dpi-circle.png" 
                alt="Nexul Academy Logo" 
                class="logo-bg-img">
        </div>

        <h3>Challenge 4: Complexity of Routing Configuration and URL Mismatch</h3>
        <p><b>Problem:</b>
            When displaying the lesson page containing a checklist, issues with URL mismatches and improper 
            routing settings caused incorrect content to be displayed. 
            For instance, the path <code class="highlight-code">:siteLinkedItemId/view/:id</code> 
            sometimes failed to load the lesson correctly.
        </p>

        <p><b>Cause:</b> 
            The routing configuration was complex, 
            and the path structures for loading different components and data were not properly defined.        
        </p>

        <p><b>Solution:</b> 
            Simplified the route definitions and ensured that the correct content is loaded in 
            <code class="highlight-code">PageViewPageComponent</code> by accurately passing path parameters. 
            Also, used <code class="highlight-code">combineLatest</code> and <code class="highlight-code">switchMap</code> 
            to monitor changes in <code class="highlight-code">pageId</code> and <code class="highlight-code">siteLinkedItemId</code> 
            and precisely control data fetching and content rendering.        
        </p>
    
        <p><b>Key Point:</b> 
            Utilized <code class="highlight-code">combineLatest</code> and <code class="highlight-code">switchMap</code> 
            to achieve dynamic content retrieval and display based on URL parameters and user permissions.    
        </p>    
        <br>

        <div class="code-wrapper">
            <div class="language-name">typescript</div>
            <pre><code [highlight]="codeSnippet4">
            </code></pre>
        </div>
    </div>

    <div class="arrow-container">
        <a href="#slide6" class="down-arrow" (click)="smoothScroll('#slide6')">&#x25BC;</a>
    </div>
</div>
