@import '../../../styles.scss';

.challenge {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid $primary-color;
    border-radius: 5px;
    overflow: hidden;
}

.logo-container {
    position: relative; /* ロゴの基準位置を設定 */
    width: 100%; /* 親要素の幅を使用 */
    height: auto; /* コンテンツの高さをゼロにする */
    display: flex; /* フレックスボックスで配置を管理 */
    justify-content: flex-end; /* 右側に寄せる */
    z-index: 1;
}

img.logo-bg-img {
    position: absolute; /* ロゴを絶対位置で配置 */
    top: -66px; /* 上部に配置 */
    width: 400px;
    height: auto;
    opacity: 0.1; 
    pointer-events: none;
    bottom: unset;
    left: 71%;
    z-index: -1; 
}

.challenge p {
    text-align: left;
    padding-left: 10px;
}

h3 {
    font-size: 22px;
    color: $dark-blue-2;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid $dark-blue-2;
    padding-bottom: 10px;
    width: 100%;
}

pre.tooltip-code {
    padding-right: 15px;
    margin: 0;
}

.highlight {
    color: $highlight-color;
    font-weight: 500; 
}

.fixed-highlight {
    color: $fixed-highlight-color;
    font-weight: 600; 
}

.tooltip {
    display: none;
    position: absolute; 
    z-index: 10;
    background-color: #a6d2ea;
    padding: 10px;
    border: 5px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12px;
    max-width: 80%;
    overflow-wrap: break-word;
    white-space: normal;
}

.tooltip-code code {
    background-color: transparent;
}
.clickable-code {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.function {
    color: yellow;
}

.variable {
    color: turquoise;
}

.keyword {
    color: orange;
}

.keyword2 {
    color: coral;
}

.solution-approaches {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
    
  .approach-card {
    background: linear-gradient(135deg, $gradient2-start, $gradient2-end);
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    flex: 1;
  }

  .card-content p {
    margin: 20px 10px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
  
  .card-icon {
    font-size: 24px;
    color: $dark-blue-2;
    margin-right: 10px;
    margin-top: 15px;
  }
  
  .card-title {
    margin: 0;
    font-size: 18px;
    color: $dark-purple;
    font-weight: bold;
    padding-top: 15px;
  }