<div class="slide" id="slide6">
    <h2>Conclusion and Next Goals</h2>
    <div class="content-container">
        <!-- What I Gained Section -->
        <div class="content-left">
        <h3 class="section-title">What I Gained from the Internship</h3>
        
        <div class="card">
            <div class="card-header">
            <i class="fas fa-code card-icon"></i>
            <h4 class="card-title">Acquisition of Practical Skills</h4>
            </div>
            <p>Through the internship, I gained experience in applying various technologies like Angular and C# in real-world projects. This deepened my understanding of the full-stack development process, not just in coding skills but also in designing and implementing entire systems.</p>
        </div>
    
        <div class="card">
            <div class="card-header">
            <i class="fas fa-brain card-icon"></i>
            <h4 class="card-title">Improvement in Problem-Solving Skills</h4>
            </div>
            <p>Facing technical challenges and working through them with the team enhanced my problem-solving abilities. With the support of my supervisor and team members, I could see my own growth.</p>
        </div>
    
        <div class="card">
            <div class="card-header">
            <i class="fas fa-comments card-icon"></i>
            <h4 class="card-title">Importance of Communication and Collaboration</h4>
            </div>
            <p>Through team communication, I learned the importance of flexibility in accepting feedback during the development process and the ability to understand different perspectives.</p>
        </div>
        </div>
    
        <!-- Future Goals Section -->
        <div class="content-right">
        <h3 class="section-title">Future Goals</h3>
        
        <div class="card">
            <div class="card-header">
            <i class="fas fa-paint-brush card-icon"></i>
            <h4 class="card-title">Enhancing UX/UI Design Skills</h4>
            </div>
            <p>Building on the frontend development skills acquired during the internship, I aim to further delve into the fields of user experience and interface design.</p>
        </div>
    
        <div class="card">
            <div class="card-header">
            <i class="fas fa-server card-icon"></i>
            <h4 class="card-title">Challenging New Technologies</h4>
            </div>
            <p>I aspire to deepen my understanding of new frameworks and libraries, especially in backend technologies, to become a stronger full-stack developer.</p>
        </div>
        </div>
    </div>
    <div class="arrow-container">
        <a href="#slide7" class="down-arrow" (click)="smoothScroll('#slide7')">&#x25BC;</a>
    </div>
</div>
