@import '../../../styles.scss';
  
  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .content-left, .content-right {
    flex: 1;
  }

  #slide6 h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .section-title {
    font-size: 22px;
    color: #2E86C1;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #2E86C1;
    padding-bottom: 10px;
  }
  
  .card {
    background: #FFFFFF;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent; /* 初期状態では透明な境界線 */
    transition: transform 0.2s, border 0.2s; /* サイズと境界線のトランジションを追加 */
  }
  
  .card:hover {
    transform: scale(1.05); /* ホバー時にカードのサイズを拡大 */
    border: 2px solid #2E86C1; /* 境界線を強調 */
  }
  
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-icon {
    font-size: 22px;
    color: #2E86C1;
    margin-right: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #5B2C6F;
    margin: 0;
  }

  .card p {
    text-align: left;
    padding: 0 15px;
  }